*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    margin:1rem auto 2rem;
}
.main{
    text-align: center;
}
button{
    padding:30px 50px;
    border-radius:5px;
    color:white;
    background:teal;
    text-decoration:none;
    outline:none;
}
input{
    padding: .5rem 1rem;
    width: 300px;
    font-size:1.2rem;
    text-align:center;
}
.form-holder{
    margin-bottom:2rem;
}
.pusher{
    padding:1rem 2rem 12px;
    background:blueviolet;
    border-radius:3px;
    display:inline-block;
    margin-left:1rem;
}
.pusher:active{
    background:rgb(97, 29, 160);
}
.result{
    margin:1rem auto 3rem;
}
.content{
    display:flex;

}
.content div{
    flex:1 1 0;
}
ul{
    margin:1rem auto 0;
}
li{
    list-style: none;
}
.hidden{
    display:none;
}
button:active{
    transform:scale(.98);
    background:rgb(0, 107, 107);
}
.explanation{
    margin:2rem auto 0;
}
.options p{
    font-size:.8rem;
}